In [1]:
# imports
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
survey_og = pd.read_csv('survey.csv')

In [3]:
survey_og.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [4]:
survey_og = survey_og.rename(columns = {'Timestamp':'timestamp',
                                        'Age':'age',
                                        'Gender':'gender',
                                        'Country':'country'})

In [5]:
survey_og.gender.unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [6]:
survey_og.gender.replace(to_replace = ['M','Male','male','m','Male-ish',
                                    'maile','something kinda male?','Mal',
                                    'Male (CIS)', 'Make','Guy (-ish) ^_^',
                                    'Male ','Man','msle','Mail','cis male',
                                    'Malr','Cis Man','Cis Male',
                                    'ostensibly male, unsure what that really means'],
                                    value = 'male', inplace = True)

In [7]:
survey_og.gender.unique()

array(['Female', 'male', 'female', 'Trans-female', 'Cis Female', 'F',
       'Woman', 'f', 'queer/she/they', 'non-binary', 'Femake', 'woman',
       'Nah', 'All', 'Enby', 'fluid', 'Genderqueer', 'Female ',
       'Androgyne', 'Agender', 'cis-female/femme',
       'male leaning androgynous', 'Trans woman', 'Neuter',
       'Female (trans)', 'queer', 'Female (cis)', 'A little about you',
       'p', 'femail'], dtype=object)

In [8]:
survey_og.gender.replace(to_replace = ['Female','female','Femake','Female ',
                                       'cis-female/femme','Woman','f','woman',
                                       'femail','Female (cis)','Cis Female','F'], value = 'female',
                                       inplace = True)

In [9]:
survey_og.gender.unique()

array(['female', 'male', 'Trans-female', 'queer/she/they', 'non-binary',
       'Nah', 'All', 'Enby', 'fluid', 'Genderqueer', 'Androgyne',
       'Agender', 'male leaning androgynous', 'Trans woman', 'Neuter',
       'Female (trans)', 'queer', 'A little about you', 'p'], dtype=object)

In [12]:
survey_og.gender.replace(to_replace = ['Trans-female','queer/she/they','non-binary',
                                       'Nah','All','Enby','fluid','Genderqueer',
                                       'Androgyne','Agender','male leaning androgynous',
                                       'Trans woman','Neuter','Female (trans)', 'queer',
                                       'A little about you', 'p'],  value = 'other',
                                       inplace = True)

In [13]:
survey_og.gender.unique()

array(['female', 'male', 'other'], dtype=object)

In [16]:
survey_og.country.unique()

array(['United States', 'Canada', 'United Kingdom', 'Bulgaria', 'France',
       'Portugal', 'Netherlands', 'Switzerland', 'Poland', 'Australia',
       'Germany', 'Russia', 'Mexico', 'Brazil', 'Slovenia', 'Costa Rica',
       'Austria', 'Ireland', 'India', 'South Africa', 'Italy', 'Sweden',
       'Colombia', 'Latvia', 'Romania', 'Belgium', 'New Zealand',
       'Zimbabwe', 'Spain', 'Finland', 'Uruguay', 'Israel',
       'Bosnia and Herzegovina', 'Hungary', 'Singapore', 'Japan',
       'Nigeria', 'Croatia', 'Norway', 'Thailand', 'Denmark',
       'Bahamas, The', 'Greece', 'Moldova', 'Georgia', 'China',
       'Czech Republic', 'Philippines'], dtype=object)

In [20]:
countries = ['United States','Canada','Mexico','Switzerland',
                                   'Germany','Ireland','Poland','Austria','Italy',
                                   'Sweden','Spain','Norway','Czech Repulbic','Denmark',
                                   'Latvia','Moldova','Georgia','Romania','Finland','Bulgaria',
                                   'France','Slovenia','Russia','Bosnia and Herzegovina']
survey_og = survey_og[survey_og['country'].isin(countries)]

In [23]:
survey_og.groupby(by = survey_og.country).count()

,timestamp,age,gender,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
country,,,,,,,,,,,,,,,,,,,,,
Austria,3,3,3,0,3,3,3,1,3,3,...,3,3,3,3,3,3,3,3,3,0
Bosnia and Herzegovina,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
Bulgaria,4,4,4,1,3,4,4,3,4,4,...,4,4,4,4,4,4,4,4,4,0
Canada,72,72,72,0,68,72,72,63,72,72,...,72,72,72,72,72,72,72,72,72,7
Denmark,2,2,2,0,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
Finland,3,3,3,0,3,3,3,2,3,3,...,3,3,3,3,3,3,3,3,3,0
France,13,13,13,0,13,13,13,4,13,13,...,13,13,13,13,13,13,13,13,13,0
Georgia,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
Germany,45,45,45,0,45,45,45,33,45,45,...,45,45,45,45,45,45,45,45,45,8
Ireland,27,27,27,0,27,27,27,23,27,27,...,27,27,27,27,27,27,27,27,27,1
Italy,7,7,7,0,7,7,7,6,7,7,...,7,7,7,7,7,7,7,7,7,2
Latvia,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,0
Mexico,3,3,3,0,3,3,3,2,3,3,...,3,3,3,3,3,3,3,3,3,0
Moldova,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
Norway,1,1,1,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,0
Poland,7,7,7,0,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,0
Romania,1,1,1,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,0
Russia,3,3,3,0,3,3,3,2,3,3,...,3,3,3,3,3,3,3,3,3,1
Slovenia,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
Spain,1,1,1,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,0
Sweden,7,7,7,0,7,7,7,5,7,7,...,7,7,7,7,7,7,7,7,7,0
Switzerland,7,7,7,0,7,7,7,5,7,7,...,7,7,7,7,7,7,7,7,7,1
United States,751,751,751,740,740,751,751,607,751,751,...,751,751,751,751,751,751,751,751,751,104

In [25]:
survey_og.work_interfere.fillna(value = 'Not applicable', inplace = True)

In [26]:
survey_og

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
4,2014-08-27 11:30:22,31,male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2015-08-25 19:59:38,36,male,United States,UT,No,Yes,No,Rarely,More than 1000,...,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,female,United States,NC,No,No,No,Not applicable,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN