**The data science pipeline process:**
- Acquire the data
- Prepare and clean data
- Explore
- Model & Evaluate
- Recommendations

# Imports

In [6]:
import numpy as np
import pandas as pd
import wrangle

In [7]:
# acquire main csv
df= pd.read_csv('survey.csv')

In [8]:
# Looking at dataframe
df.head()

,Unnamed: 0,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [9]:
#Looking at shape
df.shape

(1259, 28)

In [10]:
#Looking at datatypes and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1259 non-null   int64
 1   Timestamp                  1259 non-null   object
 2   Age                        1259 non-null   int64
 3   Gender                     1259 non-null   object
 4   Country                    1259 non-null   object
 5   state                      744 non-null    object
 6   self_employed              1241 non-null   object
 7   family_history             1259 non-null   object
 8   treatment                  1259 non-null   object
 9   work_interfere             995 non-null    object
 10  no_employees               1259 non-null   object
 11  remote_work                1259 non-null   object
 12  tech_company               1259 non-null   object
 13  benefits                   1259 non-null   object
 14  care_options               1259 non-null   object
 15  wellness_program           1259 non-null   object
 16  seek_help                  1259 non-null   object
 17  anonymity                  1259 non-null   object
 18  leave                      1259 non-null   object
 19  mental_health_consequence  1259 non-null   object
 20  phys_health_consequence    1259 non-null   object
 21  coworkers                  1259 non-null   object
 22  supervisor                 1259 non-null   object
 23  mental_health_interview    1259 non-null   object
 24  phys_health_interview      1259 non-null   object
 25  mental_vs_physical         1259 non-null   object
 26  obs_consequence            1259 non-null   object
 27  comments                   164 non-null    object
dtypes: int64(2), object(26)
memory usage: 275.5+ KB

In [11]:
#creating loop to see amount of nulls in each column
for col in df:
    null_count = df[col].isna().sum()
    print(f'{col} has {null_count}')

Unnamed: 0 has 0
Timestamp has 0
Age has 0
Gender has 0
Country has 0
state has 515
self_employed has 18
family_history has 0
treatment has 0
work_interfere has 264
no_employees has 0
remote_work has 0
tech_company has 0
benefits has 0
care_options has 0
wellness_program has 0
seek_help has 0
anonymity has 0
leave has 0
mental_health_consequence has 0
phys_health_consequence has 0
coworkers has 0
supervisor has 0
mental_health_interview has 0
phys_health_interview has 0
mental_vs_physical has 0
obs_consequence has 0
comments has 1095

In [ ]:
# Looking at value counts for each column
for col in df:
    val_count = df[col].value_counts()
    print(f'{col} has {val_count}')